<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
  </appSettings>
  <!-- START of Log4net -->
  <log4net threshold="ALL" debug="false">
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <subject value="TharsternCourierLoader error" />
      <to value="toEmail@email.com" />
      <from value="fromEmail@email.com" />
      <smtpHost value="smtp.server" />
      <password value="password" />
      <username value="username" />
      <lossy value="true" />
      <authentication value="basic"/>
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%5level [%date{HH:mm:ss,fff}] (%type{1}:%line (%method)) - %message%newline%newline%exception%newline" />
      </layout>
      <bufferSize value="10" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Log\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyy.MM.dd'.log'" />
      <maximumFileSize value="10000KB" />
      <maxSizeRollBackups value="60" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5level [%date{HH:mm:ss,fff}] (%type{1}:%line) - %message%newline" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date{HH:mm:ss,fff}] (%type{1}:%line) - %message%newline" />
      </layout>
    </appender>

    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
      <logName value="TharsternCourierLoaderLog" />
      <applicationName value="TharsternCourierLoaderSource" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date{HH:mm:ss,fff}] (%type{1}:%line) - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <!-- do not log debug to event viewer -->
      </filter>
    </appender>

    <root>
      <level value="All" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="SmtpAppender" />
      <appender-ref ref="EventLogAppender" />
    </root>

  </log4net>
  <!-- END of Log4net -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
